<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Braz.Properties.Settings.sistema_brazConnectionString"
            connectionString="Data Source=DESKTOP-RKRPOF2\MSSQLSERVER01;Initial Catalog=sistema_braz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>